@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap");

body {
    padding: 0;
    margin: 0;
    font: "Heebo", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: "Heebo", sans-serif;
}

p {
    font-weight: 400;
}

.main-content {
    color: white;
}
.text-content {
    color: #707070;
}

.weather-main-content {
    color: #E8F1F2;
}
.weather-text-content {
    color: #A8C6CB;
}